@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;1,200;1,400;1,800&display=swap');

body {
	margin: 0;
	font-family: "Nunito Sans", sans-serif;
	background-color: #EFEFEF;
	--rojo-supreme: #ED1C24;
}

ul {
	list-style: none;
}

input {
	border-radius: 0;
	height: 30px;
	border-color: #BCBCBC;
	border-width: 1px;
	margin: 10px;
	border-style: solid;
}

input:focus-visible {
	border-radius: 0;
	height: 30px;
	border-color: #BCBCBC;
	border-width: 1px;
	margin: 10px;

}

button {
	background: none;
	border: none;
	font-family: "Nunito Sans", sans-serif;
	font-size: 16px;
}

/*---------------HEADER-------------------*/
header {
	background-color: var(--rojo-supreme);
	padding: 1em;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

h1 {
	margin: 0;
	color: white;
	font-weight: 800;
	font-style: italic;
	font-size: 40pt;
	letter-spacing: -1px;
}

header nav {
	display: flex;
	width: 200px;
	justify-content: space-evenly;
}

header a {
	color: white;
	text-decoration: none;
}

header button {
	color: white;
}

/*---------------HEADER-------------------*/
/*---------------LOGIN--------------------*/
.login-background {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.login-card {
	background-color: white;
	padding: 40px;
	border-radius: 20px;
	height: 40%;
	box-shadow: 5px 5px 10px #00000030;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.login-card h1 {
	background-color: var(--rojo-supreme);
	padding: 0 4px;
}
.login-card .loading {
	text-align: center;
}
.login-card .error {
	text-align: center;
	color: var(--rojo-supreme);
}
.boton-google {
	box-shadow: 5px 5px 10px #00000030;
	padding: 15px;
	border-radius: 30px;
	border: 1px solid black;
	display: flex;
	align-content: center;
	align-items: center;
}
.boton-google p {
	text-align: center;
	flex-grow: 1;
	padding: 0;
	margin: 0;
}

/*---------------LOGIN--------------------*/
/*---------------HOME-------------------*/

.botonera-principal {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: 20px;
}

.botonera-principal a {
	text-decoration: none;
	color: black;
	font-weight: 800;
	font-size: 1.2em;
}

.botonera-principal a:hover {
	background-color: var(--rojo-supreme);
	color: white;

}

.botonera-principal li {
	margin: 30px 0 0 0;
}

/*---------------HOME-------------------*/

/*---------------MOVEMENT---------------*/
.ayuda-card {
	background-color: white;
	width: 80%;
	margin: 20px;
	padding: 0 20px;
	border-radius: 20px;
	max-width: 700px;
}
.ayuda-card ul {
	margin-top: 0;
}
.bold {
	font-weight: 800;
	font-style: italic;
}
.form-movimiento {
	display: flex;
	flex-direction: column;
	width: 50%;
	max-width: 500px;
}
.form-movimiento .row {
	display: flex;
	align-items: center;
}
.form-movimiento input {
	flex-grow: 1;
	margin: 10px;
}
.form-movimiento select {
	flex-grow: 1;
	margin: 10px;
}
.form-movimiento label {
	width: 20%;
}
.form-movimiento button {
	margin: 20px;
	font-size: 16pt;
}
.form-movimiento button:hover {
	background-color: var(--rojo-supreme);
	color: white;
	font-weight: 800;
	font-style: italic;
	letter-spacing: -1px;
}
.movimiento-body {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*---------------MOVEMENT---------------*/

/* -------------FINISHED----------------*/

.finished-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: center;
}
.finished-card {
	margin: 40px;
}
.finished-title {
	margin-bottom: 0;
	font-size: 30pt;
	font-weight: bold;
	font-style: italic;
}
.finished-botonera {
	margin: 0;
}

/* -------------FINISHED----------------*/
