@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;1,200;1,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');

body {
	margin: 0;
	font-family: "Nunito Sans", sans-serif;
	background-color: #EFEFEF;
	--rojo-supreme: #ED1C24;
}

ul {
	list-style: none;
}

input {
	border-radius: 0;
	height: 30px;
	border-color: #BCBCBC;
	border-width: 1px;
	margin: 10px;
	border-style: solid;
}

input:focus-visible {
	border-radius: 0;
	height: 30px;
	border-color: #BCBCBC;
	border-width: 1px;
	margin: 10px;

}

button {
	background: none;
	border: none;
	font-family: "Nunito Sans", sans-serif;
	font-size: 16px;
}

/*---------------HEADER-------------------*/
header {
	background-color: var(--rojo-supreme);
	padding: 1em;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

h1 {
	margin: 0;
	color: white;
	font-weight: 800;
	font-style: italic;
	font-size: 40pt;
	letter-spacing: -1px;
}

header nav {
	display: flex;
	width: 200px;
	justify-content: space-evenly;
}

header a {
	color: white;
	text-decoration: none;
}

header button {
	color: white;
}

/*---------------HEADER-------------------*/
/*---------------LOGIN--------------------*/
.login-background {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.login-card {
	background-color: white;
	padding: 40px;
	border-radius: 20px;
	height: 40%;
	box-shadow: 5px 5px 10px #00000030;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.login-card h1 {
	background-color: var(--rojo-supreme);
	padding: 0 4px;
}
.login-card .loading {
	text-align: center;
}
.login-card .error {
	text-align: center;
	color: var(--rojo-supreme);
}
.boton-google {
	box-shadow: 5px 5px 10px #00000030;
	padding: 15px;
	border-radius: 30px;
	border: 1px solid black;
	display: flex;
	align-content: center;
	align-items: center;
}
.boton-google p {
	text-align: center;
	flex-grow: 1;
	padding: 0;
	margin: 0;
}

/*---------------LOGIN--------------------*/
/*---------------HOME-------------------*/

.botonera-principal {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: 20px;
}

.botonera-principal a {
	text-decoration: none;
	color: black;
	font-weight: 800;
	font-size: 1.2em;
}

.botonera-principal a:hover {
	background-color: var(--rojo-supreme);
	color: white;

}

.botonera-principal li {
	margin: 30px 0 0 0;
}

/*---------------HOME-------------------*/

/*---------------MOVEMENT---------------*/
.ayuda-card {
	background-color: white;
	width: 80%;
	margin: 20px;
	padding: 0 20px;
	border-radius: 20px;
	max-width: 700px;
}
.ayuda-card ul {
	margin-top: 0;
}
.bold {
	font-weight: bolder;
	font-family: "Nunito Sans Bold", sans-serif;
}
.form-movimiento {
	display: flex;
	flex-direction: column;
	width: 50%;
	max-width: 500px;
}
.form-movimiento .row {
	display: flex;
	align-items: center;
}
.form-movimiento input {
	flex-grow: 1;
	margin: 10px;
}
.form-movimiento select {
	flex-grow: 1;
	margin: 10px;
}
.form-movimiento label {
	width: 20%;
}
.form-movimiento button {
	margin: 20px;
	font-size: 16pt;
}
.form-movimiento button:hover {
	background-color: var(--rojo-supreme);
	color: white;
	font-weight: 800;
	font-style: italic;
	letter-spacing: -1px;
}
.movimiento-body {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*---------------MOVEMENT---------------*/

/* -------------FINISHED----------------*/

.finished-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: center;
}
.finished-card {
	margin: 40px;
}
.finished-title {
	margin-bottom: 0;
	font-size: 30pt;
	font-weight: bold;
	font-style: italic;
}
.finished-botonera {
	margin: 0;
}

/* -------------FINISHED----------------*/
/*-----------ADMINISTRACION--------------*/

.search-button {
	box-shadow: 1px 1px 5px lightgrey;
	background-color: white;
	border-radius: 100px;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-button .gris {
	color: #404040;
}

.search-container {
	align-items: center;
	width: 170px;
}

.periodo-container {
	display: flex;
	width: 100%;
	flex-direction: column;
    align-items: center;
}

.underlined {
	font-weight: 200;
	font-style: italic;
	background-color: white;
	padding: 6px;
	box-shadow: 1px 1px 5px lightgrey;
}

.movimiento-body hr {
	width: 100%;
}

.balance {
	align-self: flex-start;
    margin: 0 10%;
}

.balance a {
	display: block;
	margin-block-start: 1em;
    margin-block-end: 1em;
	background-color: #151515;
	color: #E3E3E3;
	width: 80px;
	text-align: center;
	padding: 5px 0;
	text-decoration: none;
}

/* -------------STOCK--------------*/
.icon-button {
	box-shadow: 1px 1px 5px lightgrey;
	background-color: white;
	border-radius: 100px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-button .gris {
	color: #404040;
}

.add-button {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 50px;
	height: 50px;
}

.add-button-desktop {
	display: flex;
	align-items: center;
	color: white;
	background-color: black;
	padding-right: 15px;
}
.add-button-desktop span {
	padding-right: 5px;
}
.width-limit-content {
	width: 70%;
	max-width: 350px;
}
.search-bar {
	display: flex;
	align-items: center;
	margin: 20px;
}

.search-bar input {
	flex-grow: 1;
	margin-left: 0;
}

.product-list {
	display: flex;
	flex-direction: column;
	padding: 0 50px;
}

.product-display {
	border-top: 1px solid gray;
	display: flex;
	gap: 10px;
	width: 100%;
	padding: 25px 10px;
}
.product-display:last-child {
	border-bottom: 1px solid gray;
}

.product-display img {
	background-color: #00000010;
}
.product-display .data {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.product-display p {
	margin: 0;
}

.add-button {
	display: none;
}
@media screen and (max-width: 600px) {
	.add-button-desktop {
		display: none;
	}
	.add-button {
		display: flex;
	}
}


